<!-- GRID PANTALLAS GRANDES -->
<div id="grid-pantalla-800MAS">
    <div id="svg-container" class="flex-center-col">
        <app-svg-big-devices style="width: 100%; height: 100%;"></app-svg-big-devices>
    </div>
    <!--------------------  GRID DATOS POKEMON ------------->
    <div id="grid-datos-pokemon">
        <div style="width: 100%; height: 100%;" class="flex-center-col">
            <!-- display imagen pokemon -->
            <div class="pantalla-pokemon flex-row">
                <!-- imagen pokemon -->
                <div class="flex-center-col">
                    <img [src]="pokemon.img" alt="" width="100px" height="100px" *ngIf="pokemon.img != null && pokemon.img.length > 0 ">
                </div>
                <!-- data pokemon -->
                <div class="flex-center-col">
                    <p *ngIf="pokemon.nombre" style="font-family: 'Bangers', cursive;"> {{ pokemon.nombre }} # {{ pokemon.numero }} </p>
                    <p *ngIf="pokemon.tipos.length > 0" style="font-family: 'Bangers', cursive;">Tipo:</p>
                    <div *ngFor="let tipo of pokemon.tipos">
                        <p> {{ tipo.type.name}} </p>
                    </div>
                </div>
            </div>
            <!-- controles accion pokemon -->
            <div class="flex-center-row " id="controles-pokemon">
                <button class="control-button button-shadow" (click)="searchPokemonNext( -pokemon.numero)"> prev </button>
                <button class="control-button button-shadow" (click)="capturarPokemon(pokemon)"> Capturar </button>
                <button class="control-button button-shadow" (click)="searchPokemonNext( pokemon.numero)"> next </button>
            </div>
            <!-- ir a pagina de favoritos -->
            <button class="control-button button-shadow" routerLink="/favoritos" style="margin-top: 30px  ;"> Ver mis Pokemons </button>
        </div>
    </div>
    <!--------------------  GRID FORMULARIO BUSQUEDA ------------->
    <div style="width: 100%;  height: 100%; z-index: 3; padding: calc( (7vh + 7vw)/2) calc( (6.5vh + 6.5vw)/2) calc( (1vh + 1vw)/2) calc( (3vh + 3vw)/2); ">
        <form id="formulario-busqueda-big" (ngSubmit)="buscarFormulario(f)" #f="ngForm" style="width: 100%; height: 100%;" class="flex-center-col">
            <!-- <label for="">Nombre o número de pokemón</label> -->
            <!-- <h1> Pokemón</h1> -->
            <textarea class="flex-center-col" placeholder="Introduce NOMBRE o NÚMERO de pokemón" wrap="hard" maxlength="45" ngModel name="identificador" required> </textarea>
            <button type="submit" class="button-shadow">Buscar</button>
        </form>
    </div>
</div>

<!------------------------ pantallas med-chicas -------------------->

<div id="contenedor-pantalla-MedCHICA">
    <app-svg-top-small-dev></app-svg-top-small-dev>
    <app-svg-bg-small-dev></app-svg-bg-small-dev>
    <!-- CONTENEDOR PARA QUE TODO PERMANEZCA FIJO -->
    <div id="contenedor-data-small" class="flex-center-col">
        <form id="formulario-busqueda-small" (ngSubmit)="buscarFormulario(f2)" #f2="ngForm" class="flex-center-row">

            <textarea class="flex-center-col" placeholder="Introduce NOMBRE o NÚMERO de pokemón" wrap="hard" maxlength="45" ngModel name="identificador" required> </textarea>
            <button type="submit" class="button-shadow">Go</button>
        </form>
        <!-- pantalla pokemon -->
        <div class="pantalla-pokemon flex-row">
            <!-- imagen pokemon -->
            <div class="flex-center-col">
                <img [src]="pokemon.img" alt="" width="85px" height="85px" *ngIf="pokemon.img != null && pokemon.img.length > 0 ">
            </div>
            <!-- data pokemon -->
            <div class="flex-center-col">
                <p *ngIf="pokemon.nombre" style="font-family: 'Bangers', cursive;"> {{ pokemon.nombre }} # {{ pokemon.numero }} </p>
                <p *ngIf="pokemon.tipos.length > 0" style="font-family: 'Bangers', cursive;">Tipo:</p>
                <div *ngFor="let tipo of pokemon.tipos">
                    <p> {{ tipo.type.name}} </p>
                </div>
            </div>
        </div>
        <!-- controles accion pokemon -->
        <div class="flex-center-row " id="controles-pokemon">
            <button class="control-button button-shadow" (click)="searchPokemonNext( -pokemon.numero)"> prev </button>
            <button class="control-button button-shadow" (click)="capturarPokemon(pokemon)"> Capturar </button>
            <button class="control-button button-shadow" ((click)="searchPokemonNext( pokemon.numero)"> next </button>
        </div>
        <!-- ir a pagina de favoritos -->
        <button class="control-button button-shadow" routerLink="/favoritos" style="margin-top: 30px;"> Ver mis Pokemons </button>
    </div>
</div>