
#grid-pantalla-800MAS
    display: grid
    grid-template-columns: 50% 50%
    min-height: calc( (66vh + 66vw)/2)
    width: calc( (110vh + 110vw)/2)
    margin: 50px auto
    position: relative

    #svg-container
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0 
        z-index: 0     

@media screen and ( max-width: 800px )
    #grid-pantalla-800MAS
        display: none
        opacity: 0
        pointer-events: none


//--------------------------- SASS DE GRID IZQUIERDO DISPLAY

#grid-datos-pokemon
    width: 100%
    height: 100%
    z-index: 2 
    padding: calc( (7vh + 7vw)/2) calc( (3vh + 3vw)/2)  calc( (1vh + 1vw)/2) calc( (7vh + 7vw)/2)


.pantalla-pokemon
    height: calc( (20vh + 20vw)/2)
    width: calc( (35vh + 35vw)/2) 
    background: #030316
    border: 10px solid gray
    border-radius: 0 0 0 30px
    padding: 8px
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3)
    justify-content: center
    align-items: center

@media screen and ( max-width: 800px )
    .pantalla-pokemon
        height: calc( (30vh + 30vw)/2)
        width: calc( (45vh + 45vw)/2) 
        min-width: 240px
        min-height: 200px



#controles-pokemon
    margin-top: 40px

//--------------------------- SASS DE GRID DERECHO INPUT

#formulario-busqueda-big

    h1
        font-family: 'Bangers', cursive
        font-size: calc(14px + (70 - 14) * ((100vw - 300px) / (1600 - 300)));
        text-shadow: 1px 0 0 red, -1px 0 0 red, 0 1px 0 red, 0 -1px 0 red, 1px 1px red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 2px 2px #f4dc26


    textarea
        width: 80%
        height: calc( (10vh + 10vw)/2) 
        min-height: 80px
        border-radius: 15px 
        border: none
        background-color: rgb(97, 163, 30)
        color: yellow
        text-align: center
        box-shadow: 3px 3px 8px rgba(0,0,0,0.5), -1px -1px 5px rgba(255,255,255,0.1), inset 3px 3px 7px rgba(255,255,255,0.3), inset -3px -3px 7px rgba(0,0,0,0.4)
        margin: 30px 0px 50px 0px
        padding: 20px
        resize: none;
        font-size: 1.15em

    textarea:focus
        outline: 2px solid yellow

    ::placeholder 
        color: yellow

    button
        min-height: 110px
        min-width: 110px
        border-radius: 50%
        background: red
        cursor: pointer
        color: yellow
        border: 4px solid #af0f0f
        transition: all 0.1s linear

//--------------------

#contenedor-pantalla-MedCHICA
    width: 90% 
    min-height: 100vh 
    padding-top: calc( ( 20vh + 20vw ) / 2 ) auto 0px 
    position: relative 
    margin: 30px auto
    

@media screen and ( min-width: 800px )
    #contenedor-pantalla-MedCHICA
        display: none

#contenedor-data-small
    width: 100%
    height: 100%
    z-index: 10
    position: relative
    padding: calc( ( 35vw + 35vh ) / 2) 5px 30px 5px

@media screen and ( min-width: 560px ) and ( max-width: 800px )
    #contenedor-pantalla-MedCHICA
        width: 55%
    
    #contenedor-data-small
        width: 100%
        padding-top: calc( ( 25vw + 25vh ) / 2)


#formulario-busqueda-small
    width: calc( (45vh + 45vw)/2) 
    min-width: 240px
    margin-bottom: 25px 

    h1
        font-family: 'Bangers', cursive
        font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1600 - 300)));
        text-shadow: 1px 0 0 red, -1px 0 0 red, 0 1px 0 red, 0 -1px 0 red, 1px 1px red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 2px 2px #f4dc26


    textarea
        
        min-height: 80px
        border-radius: 15px 0px 0px  15px
        border: none
        background-color: rgb(97, 163, 30)
        color: yellow
        text-align: center
        box-shadow: 3px 3px 8px rgba(0,0,0,0.5), -1px -1px 5px rgba(255,255,255,0.1), inset 3px 3px 7px rgba(255,255,255,0.3), inset -3px -3px 7px rgba(0,0,0,0.4)
        padding: 20px
        resize: none;

    textarea:focus
        outline: 2px solid yellow

    ::placeholder 
        color: yellow

    button
        min-height: 83px
        background: #e53800
        margin-left: 3px
        padding: 20px
        box-shadow: 4px 4px 8px rgba(0,0,0,0.5), -1px -1px 5px rgba(255,255,255,0.1), inset 3px 3px 7px rgba(255,255,255,0.2), inset -3px -3px 7px rgba(0,0,0,0.4)
        border: none
        border-radius: 0px 15px  15px 0px 
        font-family: 'Bangers', cursive

    










    

