<p>
    <b> {{ pokemon.nombre }} </b>
</p>

<p>
    {{ pokemon.numero }}
</p>
<div *ngFor="let tipo of pokemon.tipos">
    {{ tipo.type.name}}
</div>
<img [src]="pokemon.img" alt="" width="150px" height="150px" *ngIf="pokemon.img.length > 0">
<div>
    <form (ngSubmit)="buscarFormulario(f)" #f="ngForm">
        <label for="">Nombre o número de pokemón</label>
        <input type="text" placeholder="pikachu" ngModel name="identificador">
        <button type="submit">Buscar</button>
    </form>
</div>